@font-face {
    font-family: "imprima";
    src: url("../font/imprima-regular-webfont.woff2") format("woff2"),
        url("../font/imprima-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "imprima", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.btn {
    font-weight: 500;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #c79f88, #b6876b, #c9a48f);
    background-position: right;
}

.btn:hover {
    background-position: left;
}

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.hero-overly::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    border-bottom-right-radius: var(--bs-border-radius-xxl) !important;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
}

.hero-overly {
    position: relative;
    z-index: 1;
}

.hero-overly::before {
    background: -moz-linear-gradient(left,
            rgba(16, 26, 48, 0.7) 0%,
            rgba(16, 26, 48, 0.7) 12%,
            #101a31 91%,
            #101a31 100%);
    background: -webkit-linear-gradient(left,
            rgba(16, 26, 48, 0.7) 0%,
            rgba(16, 26, 48, 0.7) 12%,
            #101a31 91%,
            #101a31 100%);
    background: linear-gradient(to right,
            rgba(16, 26, 48, 0.7) 0%,
            rgba(16, 26, 48, 0.7) 12%,
            #101a31 91%,
            #101a31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3101a30', endColorstr='#101a31', GradientType=1);
}

#hero-img {
    width: 90%;
    object-fit: cover;
    border-top-left-radius: 1rem;
}

.splide__pagination {
    display: none;
}

@media screen and (min-width: 1025px) {
    .splide__arrows.splide__arrows--ltr {
        display: none;
    }
}

.splide .card-title:hover {
    color: #c6a16e;
}

@media screen and (max-width: 1024px) {
    .splide .card-title {
        color: #c6a16e;
    }
}

.tailor::before {
    position: absolute;
    content: "";
    background: #f2e1d9;
    width: 68%;
    height: 100%;
    z-index: -9;
    right: 0;
    top: 0;
}

@media (max-width: 576px) {
    .tailor::before {
        position: absolute;
        content: "";
        background: #f2e1d9;
        width: 100%;
        height: 85%;
        z-index: -9;
        right: 0;
        top: 15%;
    }
}

#scrollUp,
#back-top {
    background: #be9278;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}

@media (max-width: 575px) {

    #scrollUp,
    #back-top {
        right: 16px;
    }
}

#scrollUp a i,
#back-top a i {
    display: block;
    line-height: 50px;
}

#scrollUp:hover {
    color: #fff;
}

.footer-social a i {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.footer-social a:hover {
    color: #fff;
    background: #be9278;
}

.footer-social a:hover i {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}


.testimonial-area .testimonial-caption {
    position: relative;
}

.testimonial-area .testimonial-caption img {
    position: absolute;
    top: -50px;
    left: -40px;
    z-index: -1;
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption img {
        display: none;
    }
}

.testimonial-area .testimonial-caption p {
    font-size: 19px;
    color: #010a44;
    line-height: 1.6;
    /* margin-bottom: 46px */
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-caption p {
        width: 99%;
    }
}

.testimonial-area .single-testimonial {
    padding: 100px 10px 0 100px;
}

@media (max-width: 575px) {
    .testimonial-area .single-testimonial {
        padding: 11px 16px 0 18px;
    }
}

.testimonial-area .rattiong-caption span {
    color: #06080a;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.testimonial-area .rattiong-caption span span {
    color: #767676;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 15px;
}

.testimonial-area .founder-text span {
    color: #1d2547;
    font-weight: 500;
    line-height: 1.5;
    font-size: 22px;
}

.testimonial-area .founder-text p {
    color: #646d77;
    font-size: 14px;
}

@media (max-width: 575px) {
    .testimonial-area .founder-text p {
        font-size: 12px;
    }
}

.h1-testimonial-active button.slick-arrow {
    position: absolute;
    border: 0;
    padding: 10px;
    cursor: pointer;
    background: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    right: 77px;
    margin: 0 10px;
    font-size: 20px;
    color: rgba(253, 143, 95, 0.3);
    bottom: 0px;
    z-index: 1;
    transform: rotate(0deg) !important;
}

.h1-testimonial-active button.slick-arrow:hover {
    color: #be9278;
}

.h1-testimonial-active button.slick-next {
    right: -10px;
    transform: rotate(0deg) !important;
}

.h1-testimonial-active.dot-style .slick-dots {
    bottom: 4%;
    right: 41px;
    position: absolute;
}

.h1-testimonial-active.dot-style .slick-dots li {
    display: inline-block;
}

.h1-testimonial-active.dot-style .slick-dots button {
    margin-right: 7px;
    cursor: pointer;
    background: none;
    color: #000;
    border: 0;
    font-size: 16px;
    padding: 0;
}

.h1-testimonial-active.dot-style .slick-active button {
    color: #be9278;
}

.slick-initialized .slick-slide {
    outline: 0;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px
}

@media (min-width: 701px) {
    .navbar .nav-item i {
        display: none;
    }
}

@media (max-width: 700px) {
    .navbar .collapse {
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-image: linear-gradient(to left, #c79f88, #b6876b, #c9a48f);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-inline: 10px;
        z-index: 1;
    }

    .navbar .navbar-nav {
        width: 100%;
        justify-content: space-evenly !important;
    }

    .navbar .nav-link {
        padding-inline: 10px !important;
        padding-block: 5px !important;
    }

    .navbar .collapse span,
    .navbar .collapse i {
        font-size: medium;
        color: white;
        display: block;
        font-weight: normal;
    }

}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #BE9278;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img img {
    max-width: 55px
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

blockquote {
    border-left: 10px groove #b6876b;
}